Applications/
Library
Desktop/
Documents/
Downloads/
Movies/
Music/
Pictures/
Public/
VirtualBox VMs/
Work/
src/
Dropbox/
Makefile
Sites/
config.h
config.status
go/
index.html
libtool
postgres_backup/
pprof/
tags
owasp_zap_root_ca.cer

.gitconfig
.vim/bundle
.vim/.*
.CFUserTextEncoding
.DS_Store
.Trash/
.bash_history
.oh-my-zsh/
.zsh_history
.zsh-update
.zshenv
.ssh/
.anyconnect
.bundle/
.cache/
.cisco/
.cups/
.gem/
.gsutil/
.oracle_jre_usage/
.pry_history
.psql_history
.rubies/
.subversion/
.vagrant.d/
.lesshst
.viminfo
.account
.lesshst
.Xauthority
.berkshelf/
.chefdk/
.config/
.dropbox/
.gdbinit
.glide/
.gnupg/
.gvm/
.idlerc/
.kitchen/
.local/
.mono/
.pow
.rediscli_history
.rnd
.soapuios/
.vscode/
.wget-hsts
.yjp/
.zcompdump-MSA-Mac-5.0.8
.zcompdump-MSA-Mac-5.3.1
.zcompdump-MacBook ProTEST-5.0.8
.serverauth.*
